@using ToDoListLibrary.Entity.ToDoList;
@model  ToDoList.Models.ToDoListModel
@{
    ViewBag.Title = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container todoList">
    <div class="containerHeadear">
        <h1>My To Do List</h1>
        <p>What do you want to do?</p>
    </div>
    <form name="toDoList">
        <input id="content" type="text" />
    </form>
    <button id="btn">Add</button>
    <ul>
        @{
            foreach (ContentEntity entity in Model.entityList)
            {
                <li id="@entity.fld_ID" class="item">@entity.fld_Content</li>
            }
        }
    </ul>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ToDoList")

<script>
    
    $(document).ready(function () {
        ToDoList.init();

    });
</script>