@using ToDoListLibrary.Entity.ToDoList;
@model  ToDoList.Models.ToDoListModel
@{
    ViewBag.Title = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="myDIV" class="header">
    <h2>To Do List</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
    @{
        foreach (ContentEntity entity in Model.entityList)
        {
            <li>@entity.fld_Content</li>
        }
    }
    
</ul>
