<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localDB"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\10511004\Documents\GitHub\ToDoList\ToDoList\App_Data\ToDoListDtabase.mdf;Integrated Security=True"
         
       providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>